*.pyc
__pycache__/

.env
_credential.py

.vscode/
.idea/
.pycproject/
.DS_Store

instance/

logs/
*.log
db.sqlite

logs/
*.log
db.sqlite

.venv/
ai_helper_api/
db_helper/
__pycache__/
dist/
build/

.gitattributes
.pytest_cache/
__init__.py

node_modules